@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@layer scroll-effect {
  @property --hue {
    initial-value: 0;
    syntax: '<number>';
    inherits: false;
  }
  @property --chroma {
    initial-value: 0;
    syntax: '<number>';
    inherits: true;
  }

  .scrollContainer {
    height: 100vh;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
    scrollbar-color: oklch(var(--lightness) var(--chroma) var(--hue)) transparent;
    background: linear-gradient(135deg, #1a1a1a 0%, #0a0a0a 100%);
    color: white;
  }




}

@layer scroll-items {
  .scrollContainer {
    --start: 0;
    --end: 360;
    --lightness: 65%;
    --base-chroma: 0.3;
  }

  .scrollItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .scrollItem {
    font-size: 2rem;
    font-weight: bold;
    padding: var(--spacing-3xl);
    margin: 1rem 0;
    border-radius: var(--radius-lg);
    background: var(--gradient-dark);
    color: var(--color-text-primary);
    /* backdrop-filter: blur(10px); */
    /* transition: all 0.3s ease; */
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  Subtle shadow */
  }




}
